* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    background-color: #2e2e2e;
}
.header-container {
    display: flex;
    justify-content: space-around; /*Usado para distribuir os elementos com espaço ao redor */
    align-items: center;
    flex-direction: row-reverse;
    padding: 30px;
}
.nav-links ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
nav a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}
nav a:hover {
    transform: scale(1.1);
    color: #007BFF;
}
h1 { 
    transition: transform 0.3s ease, color 0.3s ease; /*Usado para a transição suave */
}
h1:hover {
    color: #007BFF;
    transform: scale(1.1); /*Usado para a transição suave*/
}
main {
    display: flex;
    flex-wrap: wrap; /* Melhor para dispositivos móveis */
}
h2 {
    margin-bottom: 10px;
}
.main-section {
    flex: 3; /*Usado para definir a proporção do espaço */
    text-align: center;
    padding: 10px;
    letter-spacing: 1px;
}
.main-section, .aside-main {
    min-width: 300px; /*Usado para definir a largura mínima */
}
input, textarea {
    padding: 5px;
    border: 3px solid #007BFF;
    border-radius: 5px;
    display: block; /*Usado para definir o display, Porque é um elemento de bloco */
    margin: 10px auto;
    width: 300px;
    box-shadow: #007bff91 0px 1px 10px;
}
.submit-main {
    border: 3px solid #007BFF;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 20px;
    margin: 30px auto;
    box-shadow: #007bff91 0px 2px 10px;
}
.submit-main:hover {
    background-color: #007BFF;
    color: white;
    transform: scale(1.1);
    box-shadow: #007bff91 0px 2px 15px; /*Usado para a transição suave da sombra*/
}
.aside-main {
    flex: 2; /*Usado para definir a proporção do espaço */
    padding: 20px;
}

.aside-main {
    display: flex;/*Usado para definir o display */
    flex-direction: column; /*Usado para definir a direção do flex */
    align-items: center;
}
.details-1, .details-2, .details-3 {
    width: 80%; /*Usado para definir a largura */
    letter-spacing: 1px;
    text-align: center;
}
aside details {
    width: 80%; /*Usado para definir a largura do elemento*/
    margin-bottom: 10px;
}
summary {
    cursor: pointer;
    padding: 10px;
}
footer {
    text-align: center;
    padding: 30px;
}
footer:hover {
    color: #007BFF;
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.3s ease;
}
@media (max-width: 768px) { /*Usado para definir a media query */
    main {
        flex-direction: column; /*Usado para definir a direção do flex */
    }
}